// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,400,300);

* {
    font-size: 15px;
}

// use only the available space inside the 400x400 frame
.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #42A7A1;
    color: #333;
    font-family: 'Open Sans', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: #333;
    height: 16rem;
    background-color: white;
    border-radius: .2rem;

    .headline {
        position: relative;
        background-color: #F1BA64;
        width: 20rem;
        height: 5rem;
        border-top-left-radius: .2rem;
        border-top-right-radius: .2rem;
        color: white;
        font-weight: 400;


        .headline__span--main {
            position: absolute;
            left: 1rem;
            top: 1rem;
            text-transform: uppercase;
            font-weight: 600;
        }

        .headline__span--date {
            position: absolute;
            left: 1rem;
            top: 2.5rem;
            font-size: .85rem;
        }

        .headline__span--revenue {
            position: absolute;
            right: 1rem;
            top: 1rem;
            font-size: .9rem;
        }

        .headline__span--amount {
            position: absolute;
            right: 1rem;
            top: 2.5rem;
            font-weight: 600;
        }
    }


}

.legend {
    color: #606060;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 3rem;



    .legend__red {
        font-size: .6rem;
        margin-right: 3rem;
        position: relative;

        &::before {
            content: "";
            background-color: #FA7373;
            position: absolute;
            right: 2.5rem;
            top: .4rem;
            width: 1rem;
            height: .25rem;
            border-radius: .5rem;
        }
    }

    .legend__blue {
        font-size: .6rem;
        margin-right: 1rem;
        position: relative;

        &::before {
            content: "";
            background-color: #7BA2FF;
            position: absolute;
            right: 3.5rem;
            top: .4rem;
            width: 1rem;
            height: .25rem;
            border-radius: .5rem;
        }
    }
}

.statistics {
    position: relative;
    margin: 0 auto;
    width: 100%;


    .statistics__line--top {
        margin: 0 auto;
        width: 90%;
        height: .1rem;
        background-color: #F2F2F2;
    }

    .statistics__line--middle {
        margin: 2.5rem auto;
        width: 90%;
        height: .1rem;
        background-color: #F2F2F2;
    }

    .statistics__line--bottom {
        margin: 1rem auto;
        width: 90%;
        height: .1rem;
        background-color: #F2F2F2;
    }
}

.horizontal_axis {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 1rem;

    span {
        font-size: .6rem;
        color: #949494;
    }
}

.data-red {
    position: absolute;
    bottom: 2rem;
    left: 0;
    width: 100%;
    height: 6rem;

    .points {
        position: relative;

        .point--red {
            width: 6px;
            height: 6px;
            border-radius: 50%;
            position: absolute;
            cursor: pointer;
            background-color: #FA7373;
        }

        .red-point-1 {
            top: 3rem;
            left: 1.5rem;
        }

        .red-point-2 {
            top: .7rem;
            left: 4.2rem;
        }

        .red-point-3 {
            top: 1.4rem;
            left: 7rem;
        }

        .red-point-4 {
            top: .7rem;
            left: 9.5rem;
        }

        .red-point-5 {
            top: 2.3rem;
            left: 12.3rem;
        }

        .red-point-6 {
            top: 3rem;
            left: 15rem;
        }

        .red-point-7 {
            top: 1.1rem;
            left: 18rem;
        }


    }


}

.data-blue {
    position: absolute;
    bottom: 2rem;
    left: 0;
    width: 100%;
    height: 6rem;

    .points {
        position: relative;

        .point--blue {
            width: 6px;
            height: 6px;
            border-radius: 50%;
            position: absolute;
            cursor: pointer;
            background-color: #7BA2FF;
        }


        .blue-point-1 {
            top: 4rem;
            left: 1.5rem;
        }

        .blue-point-2 {
            top: 47px;
            left: 4rem;
        }

        .blue-point-3 {
            top: 62px;
            left: 7rem;
        }

        .blue-point-4 {
            top: 52px;
            left: 9.5rem;
        }

        .blue-point-5 {
            top: 58px;
            left: 12.3rem;
        }

        .blue-point-6 {
            top: 71px;
            left: 15rem;
        }

        .blue-point-7 {
            top: 61px;
            left: 18rem;
        }


    }




}

svg {
    position: absolute;

    polyline {
        fill: none;
        stroke-width: 2;
        stroke-linecap: round;

    }
}

.red {
    stroke: #FA7373;
}

.blue {
    stroke: #7BA2FF;
}